// ----------------------------------------------------------------------
	// Colors
// ----------------------------------------------------------------------

$red: #c8342d;
$blue: #2d3f51;
$white: #fff;
$black: #28252a;

$primary-color: $red;
$secondary-color: $blue;
$white-color: $white;
$black-color: $black;

// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------

$max-width-sm: 576px;
$max-width-md: 768px;
$max-width-lg: 992px;
$max-width-xl: 1200px;

// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------

$regularSize: 14px;
$mediumSize: 24px;
$largeSize: 36px;
$extraLargeSize: 56px;

// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------

$openSans: 'Open Sans', sans-serif;

// ----------------------------------------------------------------------
	// Padding
// ----------------------------------------------------------------------

$paddingY: 75px;
